## Import Relevant Libraries

In [ ]:
!pip install ab-test

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os,sys,inspect
import abtest

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/iboraham/ab-test/master/data/grocerywebsiteabtestdata.csv")
print(data.shape)
display(data.head())

(184588, 5)

   RecordID   IP Address  LoggedInFlag  ServerID  VisitPageFlag
0         1  39.13.114.2             1         2              0
1         2    13.3.25.8             1         1              0
2         3  247.8.211.8             1         1              0
3         4  124.8.220.3             0         3              0
4         5  60.10.192.7             0         2              0

* RecordID -> Unique Identifier of the click
* IP Address -> Address of the user 
* LoggedInFlag -> When users has an account and logged in 
* ServerID -> Server identifier that shows server routed through
* VisitPageFlag -> Whether visit experiment page

In [3]:
data.drop(columns=['RecordID'], inplace=True)
data["group"] = data["ServerID"].map({1: "treatment", 2:"control", 3:"control"})
data = data[data.LoggedInFlag == 0]
data = data[['IP Address','group','VisitPageFlag']].reset_index(drop=True)
print(data.shape)
display(data.head())

(91619, 3)

    IP Address    group  VisitPageFlag
0  124.8.220.3  control              0
1  60.10.192.7  control              0
2   97.6.126.6  control              1
3   32.6.213.1  control              0
4  188.13.62.2  control              0

In [4]:
experiment = abtest.Experiment(data)

In [5]:
experiment.fit("two-tailed", confidence_level=0.95, power=.8, before_eff=0.09, after_eff=0.12)

z statistic: -2.68
p-value: 0.007
ci 95% for control group: [0.086, 0.116]
ci 95% for treatment group: [0.115, 0.148]

Since `p_value < 0.05`, reject null hypothesis. The new design did perform significantly different (let alone better) than our old one. If the business conversion rate target is 12%, it can be reached with the new design.